<div class= "list-group">
    <% for(var i=0; i< restaurants.length; i++) { %>

      <ul class="list-group">
        <li class="list-group-item">Name : <strong><%= restaurants[i].name%></strong></li>
        <li class="list-group-item">Overall Rating : <span class="badge"><%= restaurants[i].overall_rating%> </span> </li>
        <li class="list-group-item">Latitude : <span class="badge"><%= restaurants[i].latitude%> </span> </li>
        <li class="list-group-item">Longitude : <span class="badge"><%= restaurants[i].longitude%> </span> </li>
        <li class="list-group-item">Greasy Rating : <span class="badge"><%= restaurants[i].greasy_rating%> </span> </li>
        <li class="list-group-item">Tex-Mex Rating : <span class="badge"><%= restaurants[i].tex_mex_rating%> </span> </li>
        <li class="list-group-item">Artisanal Rating : <span class="badge"><%= restaurants[i].artisanal_rating%> </span> </li>
      </ul>

    <% } %>
</div>

<div id="map"></div>
  <script type="text/javascript">

      var map;
      var infowindow = null;

      function initMap() {
       map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: 34.052234, lng: -118.243685},
         zoom: 13,
         scrollwheel: false,
         mapTypeControl: false,
       });

      if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
              initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map.setCenter(initialLocation);
            });
      } 
     
      <% for(var i=0; i< results.restaurants.length; i++) { %>

       var latitude = <%= results.restaurants[i].restaurant.location.latitude %>
       var longitude = <%= results.restaurants[i].restaurant.location.longitude %>
       
       console.log( latitude, longitude)

       var location = new google.maps.LatLng(latitude,longitude);
       var marker = new google.maps.Marker({
          position: location,
          visible: true,
        });

       var content = '<h3><%= results.restaurants[i].restaurant.name %></h3>' + '<p><%= results.restaurants[i].restaurant.location.address %></p>' +

        '<p>Please Review!</p>' +
        '<div class="form-group col-md-6-offset-3">' +
        '<form method="POST" action="/restaurants">' + 
        '<div class="form-group col-md-12">' +
          '<input name="overall_rating"  class="form-control" placeholder="Overall Rating"/>' +
        '</div>' +
        '<div class="form-group col-md-3">' +
          '<input name="greasy_rating"  class="form-control" placeholder="Greasy"/>' +
        '</div>' +
        '<div class="form-group col-md-3">' +
          '<input name="tex_mex_rating"  class="form-control" placeholder="Tex Mex"/>' +
        '</div>' +
        '<div class="form-group col-md-3">' +
          '<input name="artisanal_rating"  class="form-control" placeholder="Artisanal"/>' +
        '</div>' +
        '<div class="form-group col-md-3">' +
          '<input name="review"  class="form-control" placeholder="What did you think?..."/>' +
        '</div>' +
        '<div class="form-group col-md-3">' +
            '<input class="btn btn-primary col-md-12" type="submit" value="Submit">' +
        '</div>' +
    '</form>' +
    '<div>'






       var infowindow = new google.maps.InfoWindow()

        google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
        return function() {
           infowindow.setContent(content);
           infowindow.open(map,marker);
        };
        })(marker,content,infowindow)); 

       marker.setMap(map)

      <% }  %>

     }

  </script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUA-xyeOQqnJNYI85RMzkX_ziKUOydfIw&callback=initMap">
  </script>
