<div id="map"></div>
  <script type="text/javascript">

      var map;
      var infowindow = null;

      //Initializes map and sets initial properties
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 34.052234, lng: -118.243685},
          zoom: 13,
          scrollwheel: false,
          mapTypeControl: false,
        });

        //Grabs user location if allowed and centers map upon it
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
          initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          map.setCenter(initialLocation);
        });
      } 
     
     //Cycles through zomato API and grabs latitude and longitude from each restaurant object
      <% for(var i=0; i< results.restaurants.length; i++) { %>

        var latitude  = <%= results.restaurants[i].restaurant.location.latitude %>
        var longitude = <%= results.restaurants[i].restaurant.location.longitude %>

        var location = new google.maps.LatLng(latitude,longitude);

        //Initializes markers and sets locations based on zomato latitude and longitude above
        var marker = new google.maps.Marker({
          position: location,
          visible: true,
        });

        //Infowindow content
        var content = 
          '<div class="row">' +
            '<div class="col-md-1">' + '</div>' +
            '<div class="col-md-10">' +

            '<h3 class="restaurantTitle"><%= results.restaurants[i].restaurant.name %></h3>' + '<p><%= results.restaurants[i].restaurant.location.address %></p>' + 

            '<h4>Please Review!</h4>' +
              '<hr>' +
              '<div class="form-group">' +
                '<form method="POST" action="/restaurants">' + 

                  '<div class="form-group">' + 
                    '<h5>Overall Rating</h5>' + 
                      '<label class="radio-inline"><input type="radio" name="overall_rating" value="1">1</label>' +
                      '<label class="radio-inline"><input type="radio" name="overall_rating" value="2">2</label>' +
                      '<label class="radio-inline"><input type="radio" name="overall_rating" value="3">3</label>' +
                      '<label class="radio-inline"><input type="radio" name="overall_rating" value="4">4</label>' +                   
                      '<label class="radio-inline"><input type="radio" name="overall_rating" value="5">5</label>' +
                  '</div>' +

                  '<div class="form-group">' + 
                    '<h5>Greasy Factor</h5>' + 
                      '<label class="radio-inline"><input type="radio" name="greasy_rating" value="1">1</label>' +
                      '<label class="radio-inline"><input type="radio" name="greasy_rating" value="2">2</label>' +
                      '<label class="radio-inline"><input type="radio" name="greasy_rating" value="3">3</label>' +
                      '<label class="radio-inline"><input type="radio" name="greasy_rating" value="4">4</label>' +                   
                      '<label class="radio-inline"><input type="radio" name="greasy_rating" value="5">5</label>' +
                  '</div>' +

                  '<div class="form-group">' +
                    '<h5>Tex Mex Factor</h5>' + 
                      '<label class="radio-inline"><input type="radio" name="tex_mex_rating" value="1">1</label>' +
                      '<label class="radio-inline"><input type="radio" name="tex_mex_rating" value="2">2</label>' +
                      '<label class="radio-inline"><input type="radio" name="tex_mex_rating" value="3">3</label>' +
                      '<label class="radio-inline"><input type="radio" name="tex_mex_rating" value="4">4</label>' +                 
                      '<label class="radio-inline"><input type="radio" name="tex_mex_rating" value="5">5</label>' +
                  '</div>' +

                  '<div class="form-group">' +
                  '<h5>Artisanal Factor</h5>' + 
                    '<label class="radio-inline"><input type="radio" name="artisanal_rating" value="1">1</label>' +
                    '<label class="radio-inline"><input type="radio" name="artisanal_rating" value="2">2</label>' +
                    '<label class="radio-inline"><input type="radio" name="artisanal_rating" value="3">3</label>' +
                    '<label class="radio-inline"><input type="radio" name="artisanal_rating" value="4">4</label>' +                
                    '<label class="radio-inline"><input type="radio" name="artisanal_rating" value="5">5</label>' +
                  '</div>' +
                  '<div class="form-group">' +
                    '<textarea name="review" class="form-control" placeholder="What did you think?..."></textarea>' +
                  '</div>' +

                  '<input type="hidden" name="zomato_id" value="<%= results.restaurants[i].restaurant.R.res_id %>">' +
                  '<input type="hidden" name="name" value="<%= results.restaurants[i].restaurant.name %>">' +
                  '<div class="form-group">' +
                      '<input class="btn btn-primary btn-block" type="submit" value="Submit">' +
                  '</div>' +
                '</form>' +
              '</div>' +
              '<div class="col-md-1">' + '</div>' +
            '<div>' +
          '</div>'

        //Creates maps infowindows for each marker and sets content within
        var infowindow = new google.maps.InfoWindow({
          width: 500
        })

        google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
          return function() {
            infowindow.setContent(content);
            infowindow.open(map,marker);
          };
        })(marker,content,infowindow)); 

        //Creates markers on map
        marker.setMap(map)

      <% }  %>

     }

  </script>
  
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUA-xyeOQqnJNYI85RMzkX_ziKUOydfIw&callback=initMap">
  </script>
