<div class= "list-group">
          <% for(var i=0; i< restaurants.length; i++) { %>

      <ul class="list-group">
        <li class="list-group-item">Name : <strong><%= restaurants[i].name%></strong></li>
        <li class="list-group-item">Overall Rating : <span class="badge"><%= restaurants[i].overall_rating%> </span> </li>
        <li class="list-group-item">Latitude : <span class="badge"><%= restaurants[i].latitude%> </span> </li>
        <li class="list-group-item">Longitude : <span class="badge"><%= restaurants[i].longitude%> </span> </li>
        <li class="list-group-item">Greasy Rating : <span class="badge"><%= restaurants[i].greasy_rating%> </span> </li>
        <li class="list-group-item">Tex-Mex Rating : <span class="badge"><%= restaurants[i].tex_mex_rating%> </span> </li>
        <li class="list-group-item">Artisanal Rating : <span class="badge"><%= restaurants[i].artisanal_rating%> </span> </li>

      </ul>

        <% } %>
</div>

<div id="map"></div>
  <script type="text/javascript">

     var map;
     function initMap() {
       map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: 34.019454, lng: -118.491191},
         zoom: 13,
         scrollwheel: false,
         mapTypeControl: false,
       });
     
     var latitude = <%= restaurants[5].latitude %>
     var longitude = <%= restaurants[5].longitude %>
     console.log( latitude, longitude)
     var location = new google.maps.LatLng(latitude,longitude);
     var marker = new google.maps.Marker({
        position: location,
        visible: true,
      });

     marker.setMap(map)

     }

  </script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUA-xyeOQqnJNYI85RMzkX_ziKUOydfIw&callback=initMap">
  </script>

