<div class= "list-group">
    <% for(var i=0; i< restaurants.length; i++) { %>

      <ul class="list-group">
        <li class="list-group-item">Name : <span class="badge"><%= restaurants[i].name%> </span> </li>
        <li class="list-group-item">Overall Rating : <span class="badge"><%= restaurants[i].overall_rating%> </span> </li>
        <li class="list-group-item">Zomato ID : <span class="badge"><%= restaurants[i].zomato_id%> </span> </li>
        <li class="list-group-item">Greasy Rating : <span class="badge"><%= restaurants[i].greasy_rating%> </span> </li>
        <li class="list-group-item">Tex-Mex Rating : <span class="badge"><%= restaurants[i].tex_mex_rating%> </span> </li>
        <li class="list-group-item">Artisanal Rating : <span class="badge"><%= restaurants[i].artisanal_rating%> </span> </li>
        <li class="list-group-item">Review : <span class="badge"><%= restaurants[i].review%> </span> </li>
      </ul>

    <% } %>
</div>

<div id="map"></div>
  <script type="text/javascript">

      var map;
      var infowindow = null;

      function initMap() {
       map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: 34.052234, lng: -118.243685},
         zoom: 13,
         scrollwheel: false,
         mapTypeControl: false,
       });

      if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
              initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map.setCenter(initialLocation);
            });
      } 
     
      <% for(var i=0; i< results.restaurants.length; i++) { %>

       var latitude  = <%= results.restaurants[i].restaurant.location.latitude %>
       var longitude = <%= results.restaurants[i].restaurant.location.longitude %>

       var location = new google.maps.LatLng(latitude,longitude);
       var marker = new google.maps.Marker({
          position: location,
          visible: true,
        });

       var content = '<p><%= results.restaurants[i].restaurant.name %></p>' + '<p><%= results.restaurants[i].restaurant.location.address %></p>' + 
       '<p><%= results.restaurants[i].restaurant.R.res_id %></p>' +

        '<p>Please Review!</p>' +
        '<div class="form-group col-md-6-offset-3">' +
        '<form method="POST" action="/restaurants">' + 

        '<h6> Overall Rating</h6>' + 
        '<span class="rating">' +
          '<input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1"/>' +
          '<label for="rating-input-1-5" class="rating-star"></label>' +
          '<input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1"/>' +
          '<label for="rating-input-1-4" class="rating-star"></label>' +
          '<input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1"/>' +
          '<label for="rating-input-1-3" class="rating-star"></label>' +
          '<input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1"/>' +
          '<label for="rating-input-1-2" class="rating-star"></label>' +
          '<input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1"/>' +
          '<label for="rating-input-1-1" class="rating-star"></label>' +
        '</span>' + 


        '<div class="form-group col-md-10">' + 
        '<h6>Greasy Factor</h6>' + 
          '<label class="radio-inline"><input type="radio" name="greasy_rating">1</label>' +
          '<label class="radio-inline"><input type="radio" name="greasy_rating">2</label>' +
          '<label class="radio-inline"><input type="radio" name="greasy_rating">3</label>' +
          '<label class="radio-inline"><input type="radio" name="greasy_rating">4</label>' +                   
          '<label class="radio-inline"><input type="radio" name="greasy_rating">5</label>' +
        '</div>' +

        '<div class="form-group col-md-10">' +
        '<h6>Tex Mex Factor</h6>' + 
          '<label class="radio-inline"><input type="radio" name="tex_mex_rating">1</label>' +
          '<label class="radio-inline"><input type="radio" name="tex_mex_rating">2</label>' +
          '<label class="radio-inline"><input type="radio" name="tex_mex_rating">3</label>' +
          '<label class="radio-inline"><input type="radio" name="tex_mex_rating">4</label>' +                 
          '<label class="radio-inline"><input type="radio" name="tex_mex_rating">5</label>' +
        '</div>' +

        '<div class="form-group col-md-10">' +
        '<h6>Artisanal Factor</h6>' + 
          '<label class="radio-inline"><input type="radio" name="artisanal_rating">1</label>' +
          '<label class="radio-inline"><input type="radio" name="artisanal_rating">2</label>' +
          '<label class="radio-inline"><input type="radio" name="artisanal_rating">3</label>' +
          '<label class="radio-inline"><input type="radio" name="artisanal_rating">4</label>' +                
          '<label class="radio-inline"><input type="radio" name="artisanal_rating">5</label>' +
        '</div>' +
<<<<<<< HEAD

        '<div class="form-group col-md-10">' +
          '<input name="review"  class="form-control" placeholder="What did you think?..."/>' +
=======
        '<div class="form-group col-md-3">' +
          '<input name="review" type="text" class="form-control" placeholder="What did you think?..."/>' +
>>>>>>> 58a491d47b701fe78ce5bbcabfd0e20fcf02a528
        '</div>' +
        '<input type="hidden" name="zomato_id" value="<%= results.restaurants[i].restaurant.R.res_id %>">' +
        '<input type="hidden" name="name" value="<%= results.restaurants[i].restaurant.name %>">' +
        '<div class="form-group col-md-3">' +
            '<input class="btn btn-primary col-md-10" type="submit" value="Submit">' +
        '</div>' +
    '</form>' +
    '</div>'

   




       var infowindow = new google.maps.InfoWindow()

        google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
        return function() {
           infowindow.setContent(content);
           infowindow.open(map,marker);
        };
        })(marker,content,infowindow)); 

       marker.setMap(map)

      <% }  %>

     }

  </script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUA-xyeOQqnJNYI85RMzkX_ziKUOydfIw&callback=initMap">
  </script>
