<div id="map"></div>
  <script type="text/javascript">

      var map;
      var infowindow = null;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 34.052234, lng: -118.243685},
          zoom: 13,
          scrollwheel: false,
          mapTypeControl: false,
        });

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
          initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          map.setCenter(initialLocation);
        });
      } 
     
      <% for(var i=0; i< results.restaurants.length; i++) { %>

        var latitude  = <%= results.restaurants[i].restaurant.location.latitude %>
        var longitude = <%= results.restaurants[i].restaurant.location.longitude %>

        var location = new google.maps.LatLng(latitude,longitude);

        var marker = new google.maps.Marker({
          position: location,
          visible: true,
        });

        var content = '<h3><%= results.restaurants[i].restaurant.name %></h3>' + '<p><%= results.restaurants[i].restaurant.location.address %></p>' + 

          '<h4>Please Review!</h4>' +
          '<div class="form-group col-md-6-offset-3">' +
            '<form method="POST" action="/restaurants">' + 

              '<div class="form-group col-md-10">' + 
                '<h5>Overall Rating</h5>' + 
                  '<label class="radio-inline"><input type="radio" name="overall_rating" value="1">1</label>' +
                  '<label class="radio-inline"><input type="radio" name="overall_rating" value="2">2</label>' +
                  '<label class="radio-inline"><input type="radio" name="overall_rating" value="3">3</label>' +
                  '<label class="radio-inline"><input type="radio" name="overall_rating" value="4">4</label>' +                   
                  '<label class="radio-inline"><input type="radio" name="overall_rating" value="5">5</label>' +
              '</div>' +

              '<div class="form-group col-md-10">' + 
                '<h5>Greasy Factor</h5>' + 
                  '<label class="radio-inline"><input type="radio" name="greasy_rating" value="1">1</label>' +
                  '<label class="radio-inline"><input type="radio" name="greasy_rating" value="2">2</label>' +
                  '<label class="radio-inline"><input type="radio" name="greasy_rating" value="3">3</label>' +
                  '<label class="radio-inline"><input type="radio" name="greasy_rating" value="4">4</label>' +                   
                  '<label class="radio-inline"><input type="radio" name="greasy_rating" value="5">5</label>' +
              '</div>' +

              '<div class="form-group col-md-10">' +
                '<h5>Tex Mex Factor</h5>' + 
                  '<label class="radio-inline"><input type="radio" name="tex_mex_rating" value="1">1</label>' +
                  '<label class="radio-inline"><input type="radio" name="tex_mex_rating" value="2">2</label>' +
                  '<label class="radio-inline"><input type="radio" name="tex_mex_rating" value="3">3</label>' +
                  '<label class="radio-inline"><input type="radio" name="tex_mex_rating" value="4">4</label>' +                 
                  '<label class="radio-inline"><input type="radio" name="tex_mex_rating" value="5">5</label>' +
              '</div>' +

              '<div class="form-group col-md-10">' +
              '<h5>Artisanal Factor</h5>' + 
                '<label class="radio-inline"><input type="radio" name="artisanal_rating" value="1">1</label>' +
                '<label class="radio-inline"><input type="radio" name="artisanal_rating" value="2">2</label>' +
                '<label class="radio-inline"><input type="radio" name="artisanal_rating" value="3">3</label>' +
                '<label class="radio-inline"><input type="radio" name="artisanal_rating" value="4">4</label>' +                
                '<label class="radio-inline"><input type="radio" name="artisanal_rating" value="5">5</label>' +
              '</div>' +
              '<div class="form-group col-md-10">' +
                '<input name="review"  class="form-control" placeholder="What did you think?..."/>' +
              '</div>' +

              '<input type="hidden" name="zomato_id" value="<%= results.restaurants[i].restaurant.R.res_id %>">' +
              '<input type="hidden" name="name" value="<%= results.restaurants[i].restaurant.name %>">' +
              '<div class="form-group col-md-12">' +
                  '<input class="btn btn-primary col-md-10" type="submit" value="Submit">' +
              '</div>' +
            '</form>' +
          '</div>'

        var infowindow = new google.maps.InfoWindow()

        google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
          return function() {
            infowindow.setContent(content);
            infowindow.open(map,marker);
          };
        })(marker,content,infowindow)); 

        marker.setMap(map)

      <% }  %>

     }

  </script>
  
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUA-xyeOQqnJNYI85RMzkX_ziKUOydfIw&callback=initMap">
  </script>
