
    <div class= "container">
  <div>
    <ul class="list-group">


    </div>
      <li class="list-group-item">Name : <strong><%= restaurant.name%></strong></li>
      <li class="list-group-item">Average Overall Rating : <span class="badge"><%= avgOverall%> </span> </li>
      <li class="list-group-item">Average Greasy Rating : <span class="badge"><%= avgGreasy%> </span> </li>
      <li class="list-group-item">Average Tex-Mex Rating : <span class="badge"><%= avgTexMex%> </span> </li>
      <li class="list-group-item">Artisanal Rating : <span class="badge"><%= avgArtisanal%> </span> </li>

    </ul>


<h1>Update Restaurant</h1>
  	<form method="post" action="/restaurants/<%= restaurant.name %>">
  		<input type="hidden" name="_method" value="put">
      <div class="form-group col-md-3">
        <input name="name"  class="form-control" placeholder="Name"/>
      </div>
      <div class="form-group col-md-3">
        <input name="latitude"  class="form-control" placeholder="Latitude"/>
      </div>
      <div class="form-group col-md-3">
        <input name="longitude"  class="form-control" placeholder="Longitude"/>
      </div>
      <div class="form-group col-md-3">
        <input name="overall_rating"  class="form-control" placeholder="Overall Rating"/>
      </div>
      <div class="form-group col-md-3">
        <input name="greasy_rating"  class="form-control" placeholder="Greasy"/>
      </div>
      <div class="form-group col-md-3">
        <input name="tex_mex_rating"  class="form-control" placeholder="Tex Mex"/>
      </div>
      <div class="form-group col-md-3">
        <input name="artisanal_rating"  class="form-control" placeholder="Artisanal"/>
      </div>
      <div class="form-group col-md-3">
          <input class="btn btn-primary col-md-12" type="submit" value="Submit", placeholder= "Update Restaurant">
      </div>
  	</form>
