
    <div class= "container">
    <ul class="list-group">
    <li class="list-group-item">Name : <span class="badge"><%= restaurant.name %> </span> </li>
      <li class="list-group-item">Overall Rating : <span class="badge"><%= restaurant.overall_rating%> </span> </li>
      <li class="list-group-item">Greasy Rating : <span class="badge"><%= restaurant.greasy_rating%> </span> </li>
      <li class="list-group-item">Tex-Mex Rating : <span class="badge"><%= restaurant.tex_mex_rating%> </span> </li>
      <li class="list-group-item">Artisanal Rating : <span class="badge"><%= restaurant.artisanal_rating%> </span> </li>
      <li class="list-group-item">Artisanal Rating : <span class="badge"><%= restaurant.review%> </span> </li>
    </ul>


<h1>Update Restaurant</h1>
  	<form method="post" action="/restaurants/<%= restaurant.zomato_id %>">
  		<input type="hidden" name="_method" value="put">
      <div class="form-group col-md-3">
        <input name="overall_rating"  class="form-control" placeholder="Overall Rating"/>
      </div>
      <div class="form-group col-md-3">
        <input name="greasy_rating"  class="form-control" placeholder="Greasy"/>
      </div>
      <div class="form-group col-md-3">
        <input name="tex_mex_rating"  class="form-control" placeholder="Tex Mex"/>
      </div>
      <div class="form-group col-md-3">
        <input name="artisanal_rating"  class="form-control" placeholder="Artisanal"/>
      </div>
      <div class="form-group col-md-3">
        <input name="review" type="text"  class="form-control" placeholder="Review"/>
      </div>
      <div class="form-group col-md-3">
          <input class="btn btn-primary col-md-12" type="submit" value="Submit", placeholder= "Update Restaurant">
      </div>
  	</form>
