    <% for(var i=0; i< restaurants.length; i++){ %>
      <ul>
        <li><b>Name : </b> <%= restaurant.name[i].name%></li>
        <li><b>Overall Rating : </b> <%= restaurant[i].reviews.overall_rating%></li>
        <li><b>Greasy Factor : </b> <%= restaurant[i].reviews.greasy_rating%></li>
        <li><b>Tex Mex Factor: </b> <%= restaurant[i].reviews.tex_mex_rating%></li>
        <li><b>Artisanal Factor : </b> <%= restaurant[i].reviews.artisanal_rating%></li>
      </ul>


    <% } %>
  </div>

  <hr>
      <div class="container">
          <% include ./partials/reviewForm %>
      </div>
