<!DOCTYPE html>
<html>
  <head>
    <title>Burrito Project</title>

  </head>
  <body>
  <div>
      <ul>
        <li><b>Name : </b> <%= restaurant.name%></li>
        <li><b>Overall Rating : </b> <%= restaurant.reviews.overall_rating%></li>
        <li><b>Greasy Factor : </b> <%= restaurant.reviews.greasy_rating%></li>
        <li><b>Tex Mex Factor: </b> <%= restaurant.reviews.tex_mex_rating%></li>
        <li><b>Artisanal Factor : </b> <%= restaurant.reviews.artisanal_rating%></li>
      </ul>
  </div>

  <hr>
      <div class="container">
          <% include ./partials/reviewForm %>
      </div>
       
  </body>
</html>



