<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
<h1><%= users.name %></h1>
<h2><%= users.email %></h2>
<a href="/users/<%= users.id %>/edit">Edit</a>


<form method="post" action="/users/<%= users.id %>">
	<input type="hidden" name="_method" value="delete" />
	<button type="submit">Delete</button>
</form>

</body>